html, body {
    font-size: 100%;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100vh;
    color: rgb(51, 51, 51);
    background: url(assets/freedom.jpg) center center / cover no-repeat;
}
.wrapper {
  padding-top: 4rem;
  width: 90%;
  text-align: center;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
div {
  display: block;
}

p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: 100;
}
.quote {
  font-family: "Julius-Sans One", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.author {
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
    font-style: italic;
}